<root>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="redirect all the requests" stopProcessing="true">
                    <match rul="^(.*)$" ignoreCase ="false"/>
                    <conditions logicaGrouping="MatchAll">
                        <Add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase==/>
                    </conditions>
                    <action type="Reqrite" url ="index.html" appendQueryString="true">
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
</root>